<title><%= content_for?(:title) ? yield(:title) : "仕入返品伝票" %></title>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
<p></p>
      <div class="form-group row">
        <%= f.label :id, "伝票No：", :class => "col-form-label col-lg-2 text-right text-danger" %>
        <%= f.collection_select :id, @slip_no, :id, :slip_no, {:include_blank => true}, {:class => "form-control col-lg-3 select-no" } %>
      </div>
    </div>
    <div class="col-lg-6">
<p></p>
      <div class="form-group row">
        <%= f.label :date, "返品日：", :class => "col-form-label col-lg-3 text-right text-danger" %>
        <%= f.text_field :date , :class => "form-control date-picker col-lg-3 text-center" %>
        <%= f.label :staff_id, "担当者：", :class => "col-form-label col-lg-2 text-right text-danger" %>
        <%= f.collection_select :staff_id, @staff, :id, :staff, {:include_blank => true}, {:class => 'form-control col-lg-4 select-id'} %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group row">
        <%= f.label :customer_id, "仕入先：", :class => "col-form-label col-lg-2 text-right text-danger" %>
        <%= f.collection_select :customer_id, @customer, :id, :customer, {:include_blank => true}, {:class => 'form-control col-lg-10 select-id'} %>
      </div>
    </div>
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">
      <div class="form-group row">
        <%= f.label :note, "摘要：", :class => "col-form-label col-lg-2 text-right text-danger" %>
        <%= f.text_area :note , :class => "form-control col-lg-10", rows:2 %>
      </div>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-2">
      <div class="form-group row">
        <table id = "purchase_cancel_sum" class="table table-sm table-bordered">
          <thead>
            <tr class="table-danger">
              <th class="text-danger">作品数</th>
              <th class="text-danger">合計　　　</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12">
      <table id = "purchase_cancel_slip" ></table>
    </div>
    <div class="col-lg-4">
<p></p>
      <div class="form-group row">
        <%= f.label :sort1, "並び替え：", :class => "col-form-label col-lg-3 text-right text-danger" %>
        <%= f.collection_select :sort1, @sort, :sort_key, :sort, {:include_blank => true}, {:class => 'form-control col-lg-3 select-id'} %>
        <%= f.collection_select :sort2, @sort, :sort_key, :sort, {:include_blank => true}, {:class => 'form-control col-lg-3 select-id'} %>
        <%= f.collection_select :sort3, @sort, :sort_key, :sort, {:include_blank => true}, {:class => 'form-control col-lg-3 select-id'} %>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-7">
<p></p>
      <input class="btn btn-danger" id="purchase_cancel_slip_refer" type="button" value="　参　照　">
      <input class="btn btn-danger" id="purchase_cancel_slip_new" type="button" value="　新規伝票　">
      <%= f.submit "　登録更新　", data: { disable_with: "登録中..." } ,:class => "btn btn-danger" %>
      <input class="btn btn-danger" id="purchase_cancel_slip_artwork" type="button" value="　作品詳細　">
      <input class="btn btn-danger" id="purchase_cancel_slip_print" type="button" value="　印　刷　">
      <input class="btn btn-danger" id="purchase_cancel_slip_close" type="button" value="　閉じる　" onClick="window.close()">
  </div>
</div>
